html,body{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    background-color: #F3F5FC;
    font-family: 'Inter';
    overflow-y: hidden;
}

header{
    width: 50vw;
}

.logo{
    padding-top: 30px;
    padding-left: 30px;
}

.container{
   width: 100vw;
   height: 80vh;
}

.der{
    float: left;
    top:20%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border:none;
    width: 45%;
}

.text-area{
    display: flex;
    font-family: Inter;
    font-size: 1.2rem;
    margin-left: 20%;
    height: 45vh;
    border: none;
    color: #0A3871;
    margin-top: 15%;
    padding: 8px;
    text-transform: lowercase;
    background-color: #F3F5FC;
}

.terminos{
    display: flex;
    align-items: center;
    margin-left: 20%;
    gap: 8px;
    top: 75%;
}

.informacion{
    color: #495057;
    font-family: 'Inter';
    font-size: 0.8rem;
}

.inf{
    height: 15px;
    width: 15px;
}

.botones{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 1px 0;
    width: 80%;
    gap: 5%;
    margin-left: 18%;
    top: 82%;
}

.btn-desencriptar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 1.5rem;
    color: #0A3871;
    cursor: pointer;
    line-height: 1.1rem;
    margin-left: 1.87rem;
    padding: 2%;
    gap: 8%;
    width: 30%;
    font-size: 1rem;
}

.btn-encriptar{
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 1.5rem;
    color: #0A3871;
    cursor: pointer;
    padding: 2%;
    width: 30%;
    gap: 0.5rem;
    line-height: 1.1rem;
    font-size: 1rem;
}

.btn-encriptar:hover{
    background-color: #0A3871;
    color: #D8DFE8;
}

.btn-desencriptar:hover{
    background-color: #0A3871;
    color: #D8DFE8;
}

::placeholder{ color: #0A3871; }
    .text-area:focus{
        outline: none;
    }

.izq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-radius: 24px;
    width: 26%;
    height: 78vh;
    margin-left: 60%;
    box-shadow: 0px 24px 43px -8px rgba(0, 0, 0, 0.08);
}

.mensaje:focus{
    outline: none;
}

.izq img{
    width: 60%;
    margin-top: 10%;
    padding: 10px 10px;
}

.encriptado{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    color: #0A3871;
    padding: 30px;
}


.subtitulo{
    font-family: 'Inter';
    font-weight: 800;
    font-size: 1.2rem;
    background-color: white;
    width: 50%;
}

.texto_explic{
    background-color: white;
    font-size: 1rem;
    width: 60%;
}


.footer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #d5e5f6;
    gap: 2%;
}

.pie{
    color: #0A3871;
    font-size: 0.8rem;
    margin-top: 10px;
    margin-left: 5%;
}

.redes a{
    font-size: 1rem;
    color: #0A3871;
    padding: 2px;
    min-height: 30px;
    width: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
}

.redes a:hover{
    display: inline-block;
    color: #d5e5f6;
    background-color: #0A3871;
}

.boton__copiar{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter';
    box-sizing: border-box;
    color:#0A3871;
    border:1px solid #0A3871;
    background-color: #D8DFE8;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    gap: 5%;
    margin-top: 66%;
    font-size: 1rem;
    line-height: 1.1rem;
}

.boton__copiar:hover{
    background-color: #0A3871;
    color: #D8DFE8;
}


@media (max-width: 850px) {
    html, body{
        width: auto;
        height: auto;
        overflow-y: scroll;
    }

    .container{
        width:auto;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .der{
        width: auto;
        display: flex;
        flex-direction: column;
    }

    .text-area{
        width: 100%;
        height: 80%;
        left: 20%;
        top: 5%;
    }

    .terminos{
        width: 80%;
        left: 10%;
        top: 70%;
    }

    .informacion p{
        font-size: 1rem;
    }

    .botones{
        position: unset;
        width: 80%;
        left: 2%;
        top: 70%;
    }

    .btn-encriptar, .btn-desencriptar{
        width: 50%;
        border-radius: 1rem;
    }

    .btn-encriptar:hover, .btn-desencriptar:hover{
        margin: 0.3%;
        width: 48%;
        padding: 1.8%;
    }

    .izq{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-left: 15%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .izq img{
        top:0px;
        display: none;
    }

    .footer{
        justify-content: center;
    }
}

@media (max-width: 550px) {
    .botones{
        position: relative;
        width: 100%;
        border-radius: 1rem;
        flex-direction: column;
        text-align: center;
    
    }

    .btn-encriptar:hover, .btn-desencriptar:hover{
        position: static;
        left: auto;
    }
}
